# Source control tracking
**/.git

# Local IDE configuration and user settings
**/.vs
**/.vscode
*.user

# .NET Build output and intermediate asset tracking
**/bin/
**/obj/
**/out/
**/dist/
*.lock

# Local infrastructure/manifest templates to keep out of images
.env
k8s/

# OS-specific clutter
.DS_Store

# Exclude Hyper-V / Virtual Machine disk files
*.vhdx
*.vhd

# Exclude the entire staging VM folder structure
staging-environment/