# .NET Build artifacts
[Bb]in/
[Oo]bj/

# Visual Studio / VS Code files
.vs/
.vscode/
*.user
*.suo
*.sln.docstates

# Environment secrets (Important!)
appsettings.Development.json

# OS files
.DS_Store
Thumbs.db

# Terraform - Ignores lock files and state everywhere
**/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# .NET Build & Artifacts - Ignores publish, bin, obj, and zips everywhere
**/publish/
**/bin/
**/obj/
src/OrderingSystem.Api/deploy.zip

# SonarQube local analysis cache
.sonarqube/

# Staging & Local Storage Artifacts
*.tar
*.iso
*.vhd
staging-environment/